In [3]:
import pandas as pd

In [1]:
import os
import pandas as pd

DIR_PATH = "/Users/ipekoner/Desktop/f1-ml/f1-data"

def load_and_preview_csv(file_name, dir_path):
    file_path =os.path.join(dir_path, file_name)
    df = pd.read_csv(file_path)
    return df.head(), df.info(), df.describe()

filenames = [f for f in os.listdir(DIR_PATH) if f.endswith(".csv")]

data_overview = {}

for file in filenames:
    data_overview[file] = load_and_preview_csv(file, DIR_PATH)

print(data_overview.keys())

print(os.listdir(DIR_PATH))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   circuitId   77 non-null     int64
 1   circuitRef  77 non-null     object
 2   name        77 non-null     object
 3   location    77 non-null     object
 4   country     77 non-null     object
 5   lat         77 non-null     float64
 6   lng         77 non-null     float64
 7   alt         77 non-null     int64
 8   url         77 non-null     object
dtypes: float64(2), int64(2), object(5)
memory usage: 5.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   statusId  139 non-null    int64
 1   status    139 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 575029 entries, 0 to 575028
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   raceId        575029 non-null  int64
 1   driverId      575029 non-null  int64
 2   lap           575029 non-null  int64
 3   position      575029 non-null  int64
 4   time          575029 non-null  object
 5   milliseconds  575029 non-null  int64
dtypes: int64(5), object(1)
memory usage: 26.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   resultId        300 non-null    int64
 1   raceId          300 non-null    int64
 2   driverId        300 non-null    int64
 3   constructorId   300 non-null    int64
 4   number          300 non-null    int64
 5   grid            300 non-null    int64
 6   position        300 non-null    object
 7   positionText    300 non-null    object
 8   positionOrder   300 non-null    int64
 9   points          300 non-null    int64
 10  laps            300 non-null    int64
 11  time            300 non-null    object
 12  milliseconds    300 non-null    object
 13  fastestLap      300 non-null    object
 14  fastestLapTime  300 non-null    object
 15  statusId        300 non-null    int64
dtypes: int64(10), object(6)
memory usage: 37.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 859 entries, 0 to 858
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   driverId     859 non-null    int64
 1   driverRef    859 non-null    object
 2   number       859 non-null    object
 3   code         859 non-null    object
 4   forename     859 non-null    object
 5   surname      859 non-null    object
 6   dob          859 non-null    object
 7   nationality  859 non-null    object
 8   url          859 non-null    object
dtypes: int64(1), object(8)
memory usage: 60.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1125 entries, 0 to 1124
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   raceId       1125 non-null   int64
 1   year         1125 non-null   int64
 2   round        1125 non-null   int64
 3   circuitId    1125 non-null   int64
 4   name         1125 non-null   object
 5   date         1125 non-null   object
 6   time         1125 non-null   object
 7   url          1125 non-null   object
 8   fp1_date     1125 non-null   object
 9   fp1_time     1125 non-null   object
 10  fp2_date     1125 non-null   object
 11  fp2_time     1125 non-null   object
 12  fp3_date     1125 non-null   object
 13  fp3_time     1125 non-null   object
 14  quali_date   1125 non-null   object
 15  quali_time   1125 non-null   object
 16  sprint_date  1125 non-null   object
 17  sprint_time  1125 non-null   object
dtypes: int64(4), object(14)
memory usage: 158.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212 entries, 0 to 211
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   constructorId   212 non-null    int64
 1   constructorRef  212 non-null    object
 2   name            212 non-null    object
 3   nationality     212 non-null    object
 4   url             212 non-null    object
dtypes: int64(1), object(4)
memory usage: 8.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13261 entries, 0 to 13260
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   constructorStandingsId  13261 non-null  int64
 1   raceId                  13261 non-null  int64
 2   constructorId           13261 non-null  int64
 3   points                  13261 non-null  float64
 4   position                13261 non-null  int64
 5   positionText            13261 non-null  object
 6   wins                    13261 non-null  int64
dtypes: float64(1), int64(5), object(1)
memory usage: 725.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10234 entries, 0 to 10233
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   qualifyId      10234 non-null  int64
 1   raceId         10234 non-null  int64
 2   driverId       10234 non-null  int64
 3   constructorId  10234 non-null  int64
 4   number         10234 non-null  int64
 5   position       10234 non-null  int64
 6   q1             10234 non-null  object
 7   q2             10221 non-null  object
 8   q3             10207 non-null  object
dtypes: int64(6), object(3)
memory usage: 719.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34574 entries, 0 to 34573
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   driverStandingsId  34574 non-null  int64
 1   raceId             34574 non-null  int64
 2   driverId           34574 non-null  int64
 3   points             34574 non-null  float64
 4   position           34574 non-null  int64
 5   positionText       34574 non-null  object
 6   wins               34574 non-null  int64
dtypes: float64(1), int64(5), object(1)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12495 entries, 0 to 12494
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   constructorResultsId  12495 non-null  int64
 1   raceId                12495 non-null  int64
 2   constructorId         12495 non-null  int64
 3   points                12495 non-null  float64
 4   status                12495 non-null  object
dtypes: float64(1), int64(3), object(1)
memory usage: 488.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10945 entries, 0 to 10944
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   raceId        10945 non-null  int64
 1   driverId      10945 non-null  int64
 2   stop          10945 non-null  int64
 3   lap           10945 non-null  int64
 4   time          10945 non-null  object
 5   duration      10945 non-null  object
 6   milliseconds  10945 non-null  int64
dtypes: int64(5), object(2)
memory usage: 598.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    75 non-null     int64
 1   url     75 non-null     object
dtypes: int64(1), object(1)
memory usage: 1.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26499 entries, 0 to 26498
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   resultId         26499 non-null  int64
 1   raceId           26499 non-null  int64
 2   driverId         26499 non-null  int64
 3   constructorId    26499 non-null  int64
 4   number           26499 non-null  object
 5   grid             26499 non-null  int64
 6   position         26499 non-null  object
 7   positionText     26499 non-null  object
 8   positionOrder    26499 non-null  int64
 9   points           26499 non-null  float64
 10  laps             26499 non-null  int64
 11  time             26499 non-null  object
 12  milliseconds     26499 non-null  object
 13  fastestLap       26499 non-null  object
 14  rank             26499 non-null  object
 15  fastestLapTime   26499 non-null  object
 16  fastestLapSpeed  26499 non-null  object
 17  statusId         26499 non-null  int64
dtypes: float64(1), int64(8), object(9)
memory usage: 3.6+ MB
dict_keys(['circuits.csv', 'status.csv', 'lap_times.csv', 'sprint_results.csv', 'drivers.csv', 'races.csv', 'constructors.csv', 'constructor_standings.csv', 'qualifying.csv', 'driver_standings.csv', 'constructor_results.csv', 'pit_stops.csv', 'seasons.csv', 'results.csv'])
['circuits.csv', '.DS_Store', 'status.csv', 'lap_times.csv', 'sprint_results.csv', 'drivers.csv', 'races.csv', 'constructors.csv', 'constructor_standings.csv', 'qualifying.csv', 'driver_standings.csv', 'constructor_results.csv', 'pit_stops.csv', 'seasons.csv', 'results.csv']

In [8]:
import pandas as pd

results = pd.read_csv(os.path.join(DIR_PATH, "results.csv"))
drivers = pd.read_csv(os.path.join(DIR_PATH, "drivers.csv"))

merged = results.merge(drivers, on="driverId", how="inner")

final_df = merged[["driverId", "forename", "surname","position", "grid"]]

final_df

       driverId  forename     surname position  grid
0             1     Lewis    Hamilton        1     1
1             2      Nick    Heidfeld        2     5
2             3      Nico     Rosberg        3     7
3             4  Fernando      Alonso        4    11
4             5    Heikki  Kovalainen        5     3
...         ...       ...         ...      ...   ...
26494       822  Valtteri      Bottas       16    18
26495       855    Guanyu        Zhou       17    20
26496         4  Fernando      Alonso       18    15
26497       858     Logan    Sargeant       19    19
26498       846     Lando      Norris       20     2

[26499 rows x 5 columns]

In [ ]:
races = pd.read_csv(os.path.join(DIR_PATH, "races.csv"))

merged = results.merge(drivers, on="driverId", how="inner") #merging drivers to results with the key as driverId 

merged = merged.merge(races[["raceId", "name", "date"]], on="raceId", how="inner") #taking the merged and merging races to it with the selected columns with the key as raceId

final_df = merged[["raceId", "name", "driverId", "forename", "surname", "position", "grid"]]

final_df

,raceId,name,driverId,forename,surname,position,grid
0,18,Australian Grand Prix,1,Lewis,Hamilton,1,1
1,18,Australian Grand Prix,2,Nick,Heidfeld,2,5
2,18,Australian Grand Prix,3,Nico,Rosberg,3,7
3,18,Australian Grand Prix,4,Fernando,Alonso,4,11
4,18,Australian Grand Prix,5,Heikki,Kovalainen,5,3
...,...,...,...,...,...,...,...
26494,1131,Austrian Grand Prix,822,Valtteri,Bottas,16,18
26495,1131,Austrian Grand Prix,855,Guanyu,Zhou,17,20
26496,1131,Austrian Grand Prix,4,Fernando,Alonso,18,15
26497,1131,Austrian Grand Prix,858,Logan,Sargeant,19,19
26498,1131,Austrian Grand Prix,846,Lando,Norris,20,2

In [18]:
merged["grid"] = pd.to_numeric(merged["grid"], errors = "coerce")
merged["position"] = pd.to_numeric(merged["position"], errors = "coerce")

merged["delta"] = merged["grid"] - merged["position"]

print(merged[["raceId", "name", "driverId", "forename", "surname", "grid", "position",  "delta"]])

final_df["delta"] = merged["grid"] - merged["position"]

final_df

       raceId                   name  driverId  forename     surname  grid  \
0          18  Australian Grand Prix         1     Lewis    Hamilton     1
1          18  Australian Grand Prix         2      Nick    Heidfeld     5
2          18  Australian Grand Prix         3      Nico     Rosberg     7
3          18  Australian Grand Prix         4  Fernando      Alonso    11
4          18  Australian Grand Prix         5    Heikki  Kovalainen     3
...       ...                    ...       ...       ...         ...   ...
26494    1131    Austrian Grand Prix       822  Valtteri      Bottas    18
26495    1131    Austrian Grand Prix       855    Guanyu        Zhou    20
26496    1131    Austrian Grand Prix         4  Fernando      Alonso    15
26497    1131    Austrian Grand Prix       858     Logan    Sargeant    19
26498    1131    Austrian Grand Prix       846     Lando      Norris     2

       position  delta
0           1.0    0.0
1           2.0    3.0
2           3.0    4.0
3           4.0    7.0
4           5.0   -2.0
...         ...    ...
26494      16.0    2.0
26495      17.0    3.0
26496      18.0   -3.0
26497      19.0    0.0
26498      20.0  -18.0

[26499 rows x 8 columns]

/var/folders/bt/h9lb88v13wl7_n5fd8dvlntr0000gp/T/ipykernel_95095/3785137671.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df["delta"] = merged["grid"] - merged["position"]

,raceId,name,driverId,forename,surname,position,grid,delta
0,18,Australian Grand Prix,1,Lewis,Hamilton,1,1,0.0
1,18,Australian Grand Prix,2,Nick,Heidfeld,2,5,3.0
2,18,Australian Grand Prix,3,Nico,Rosberg,3,7,4.0
3,18,Australian Grand Prix,4,Fernando,Alonso,4,11,7.0
4,18,Australian Grand Prix,5,Heikki,Kovalainen,5,3,-2.0
...,...,...,...,...,...,...,...,...
26494,1131,Austrian Grand Prix,822,Valtteri,Bottas,16,18,2.0
26495,1131,Austrian Grand Prix,855,Guanyu,Zhou,17,20,3.0
26496,1131,Austrian Grand Prix,4,Fernando,Alonso,18,15,-3.0
26497,1131,Austrian Grand Prix,858,Logan,Sargeant,19,19,0.0
26498,1131,Austrian Grand Prix,846,Lando,Norris,20,2,-18.0